{% block base_nav %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('app_homepage') }}">
                    {{ 'app.name'|trans({}, 'app') }}
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav"></ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">{{ 'cabinet'|trans({}, 'nav') }}<span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li>
                                    <a href="{{ path('user_change_password') }}">
                                        {{ 'auth.change_password'|trans({}, 'nav') }}
                                    </a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODER') %}
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="{{ path('app_admin_read_group_teacher_relation') }}">
                                            {{ 'group.relation.read'|trans({}, 'admin') }}
                                        </a>
                                    </li>
                                {% endif %}
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="{{ path('user_logout') }}">
                                        {{ 'auth.sign-out'|trans({}, 'nav') }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('user_registration') }}">
                                {{ 'registration.label'|trans({}, 'UserBundle')|capitalize }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('user_login') }}">
                                {{ 'auth.sign-in'|trans({}, 'nav') }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
