<input min="0"
       type="number"
       class="form-control input-note"
       data-student="{{ note.student_id }}"
       data-discipline="{{ note.discipline_id }}"
       data-group="{{ group }}"
       data-type="{{ note.type_id }}"
       data-original="{{ note.note_value }}"
       data-relation="{{ note.relation_id }}"
       value="{{ note.note_value }}">