<div class="modal fade" id="modal-exit" tabindex="-1" role="dialog" aria-labelledby="modalExitLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalExitLabel">Несохранённые данные</h4>
            </div>
            <div class="modal-body">
                У вас имеются несохраненные данные
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-exit-button">
                    Выйти
                </button>
                <button type="button" class="btn btn-primary" id="modal-save-button">Сохранить</button>
                <button type="button" class="btn btn-primary" id="modal-save-exit-button">Сохранить и
                    выйти
                </button>
            </div>
        </div>
    </div>
</div>
