<script type="text/html" id="group-note-tpl">
    <div class="row study-note">
        <div class="col-sm-12">
            <div class="panel panel-default" data-id="">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{ username }}
                        <button type="button" class="delete-button close"><span
                                    aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
                        <button type="button" class="edit-button close"><span
                                    aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button>
                    </h3>
                </div>
                <div class="panel-body"></div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="group-note-alert">
    <div class="alert alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="data"></div>
    </div>
</script>
<script type="text/html" id="group-note-edit-label">
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close cancel-operation" data-operaion="editing" data-dismiss="alert"
                aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        Редактирование. Для отмены закройте данное сообщение.
    </div>
</script>