{% block page %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ page.title }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ page.content|raw }}
            </div>
        </div>
    </div>
{% endblock %}