<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ 'app.name'|trans([],'app') }}</title>
</head>
<body>
<h3>
    {{ 'registration.congratulation'|trans({}, 'UserBundle')|capitalize }}
</h3>
<p>
    {{ 'registration.mail.register'|trans({
        '%site_name%': 'app.name'|trans({}, 'app')
    }, 'UserBundle')|capitalize|raw() }}
</p>
<p>
    {{ 'registration.follow'|trans({
        '%link_homepage%': host ~ path('app_homepage'),
        '%user_login%': host ~ path('user_login')
    }, 'UserBundle')|raw() }}
</p>
<h4>
    {{ 'user_data'|trans({},'UserBundle')|capitalize|raw() }}
</h4>
<table>
    <tr>
        <td>
            {{ 'form.username'|trans({}, 'UserBundle')|capitalize }}
        </td>
        <td>
            {{ user.getLogin() }}
        </td>
    </tr>
    <tr>
        <td>
            {{ 'form.password.first'|trans({}, 'UserBundle')|capitalize }}

        </td>
        <td>
            {{ password }}
        </td>
    </tr>
    <tr>
        <td>
            {{ 'form.full_name'|trans({}, 'UserBundle')|capitalize }}
        </td>
        <td>
            {{ user.getFullname() }}
        </td>
    </tr>
</table>

{% if administrations is not null %}
    <h4>
        {{ 'app.contact'|trans({},'app')|capitalize }}
    </h4>
    <table>
        <tr>
            <td>{{ 'form.full_name'|trans({}, 'UserBundle')|capitalize }}</td>
            <td>{{ 'form.email'|trans({}, 'UserBundle')|capitalize }}</td>
        </tr>
        {% for item in administrations %}
            <tr>
                <td>{{ item.getFullname() }}</td>
                <td>{{ item.getEmail() }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
<p>
    {{ 'app.powered'|trans({},'app') }}
</p>
</body>
</html>