<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ 'app.name'|trans({}, 'app') }}{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/dist/app.css') }}">
    {% endblock %}

    {% block page_stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<section class="page-wrapper">
    {% block base_nav %}
        {% include 'components/base-nav.html.twig' %}
    {% endblock %}
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% block body %}{% endblock %}
    </div>
    <footer class="container-fluid page-footer">
        <section class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="text-center">
                        <a href="{{ path('app_homepage') }}">
                            {{ 'app.name'|trans({}, 'app') }}
                        </a>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    {{ 'app.powered'|trans({}, 'app') }}
                </div>
            </div>
        </section>
    </footer>
</section>
{% block javascript %}
<script src="{{ asset('/dist/app.js') }}"></script>
{% endblock %}

</body>
</html>