<?xml version="1.0" encoding="UTF-8"?>
<document>
    <status>
        {% block status %}
            {{ status|default(true) }}
        {% endblock %}
    </status>
    {% if errors|default({}) %}
        {% include '@Api/template/error.xml.twig' with {'errors': errors} %}
    {% endif %}
    <body>
    {% block body %}{% endblock %}
    </body>
</document>