{% extends "@Api/base.xml.twig" %}

{% block body %}
<{{ tagName }}>
    {% if internal.errors|default({}) %}
        {% include '@Api/template/error.xml.twig' with {'errors': internal.errors} %}
    {% endif %}
</{{ tagName }}>
{% endblock %}