{% extends "@Api/base.xml.twig" %}

{% block body %}
    {% for item in data|default({}) %}
        {% include '@Api/data/entity-'~tagName~'.xml.twig' with {'item': item, 'tagName': tagName} %}
    {% endfor %}
{% endblock %}
