{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>{{ 'app.name'|trans({}, 'app') }}</h2>
            </div>
        </div>
        {% for group in groups %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-content">
                        <h3 class="text-center">
                            <a href="{{ path('app_group_check_list', {'id': group.getId()}) }}">
                                {{ group.getName() }}
                            </a>
                        </h3>
                    </div>
                    <div class="card-action">
                        <h4>{{ group.getSpecialty().getName() }}</h4>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
