{% extends '@App/base.html.twig' %}
{% block title %}
    {{ page.title }}
    :
    {{ parent() }}
{% endblock %}
{% block body %}
    {% include "@App/templates/page-template.html.twig" %}
{% endblock %}
