{% xlsdocument %}
    {% xlssheet data.group.getName %}
        {% set alignment = { alignment: { horizontal: constant('PHPExcel_Style_Alignment::HORIZONTAL_CENTER') } } %}
        {% set cellStyleHeader = { font: { size: '14', bold: true, break: constant('PHPExcel_Worksheet::BREAK_COLUMN') } } %}
        {% set cellStyleSubHeader = { font: { size: '12', italic: true } } %}
        {% set cellStyleNote = {}|merge(alignment) %}
        {% set n = 2 %}
        {% xlsrow %}
            {% xlscell 0 { style: cellStyleHeader, merge: n } %}
                {{ data.group.getSpecialty().getName() }}
            {% endxlscell %}
            {% for discipline in data.disciplines %}
                {% xlscell n+1 { style: cellStyleHeader|merge(alignment), merge: n } %}
                    {% set n = n + discipline.count %}
                    {{ discipline.discipline }}
                {% endxlscell %}
            {% endfor %}
        {% endxlsrow %}
        {% xlsrow %}
            {% set n = 2 %}
            {% xlscell 0 {style: cellStyleHeader, merge: n } %}{{ data.group.getName() }}{% endxlscell %}
            {% for type in data.noteType %}
                {% xlscell n + 1 { style: cellStyleSubHeader|merge(alignment) } %}{{ type.name }} {{ type.teacher }}{% endxlscell %}
                {% set n = n + 1 %}
            {% endfor %}
        {% endxlsrow %}
        {% for student in data.students %}
            {% set n = 2 %}
            {% xlsrow %}
                {% xlscell 0 {merge: n} %}{{ student.name }}{% endxlscell %}
                {% for note in data.notes[student.id] %}
                    {% xlscell n + 1 {style: cellStyleNote} %}
                        {{ note.note_value }}
                    {% endxlscell %}
                    {% set n = n + 1 %}
                {% endfor %}
            {% endxlsrow %}
        {% endfor %}
    {% endxlssheet %}
{% endxlsdocument %}