{% xlsdocument %}
    {% xlssheet "Full report" %}
        {% set header_cols = 2 %}
        {% xlsrow 1 %}
            {% xlscell 0 {merge: header_cols + 6} %}
                Всего студентов: {{ averageValue['students'] }}, в том числе: {% for i in 0..students|length - 1 %}{{ loop.index }} курс - {{ students[i] }}{% if i != students|length - 1 %}, {% else %}.{% endif %}{% endfor %}
            {% endxlscell %}
        {% endxlsrow %}
        {% xlsrow %}
            {% xlscell 1 {merge: header_cols} %}

            {% endxlscell %}
            {% xlscell header_cols + 1 %}
                I курс
            {% endxlscell %}
            {% xlscell header_cols + 2 %}
                II курс
            {% endxlscell %}
            {% xlscell header_cols + 3 %}
                III курс
            {% endxlscell %}
            {% xlscell header_cols + 4 %}
                IV курс
            {% endxlscell %}
            {% xlscell header_cols + 5 %}
                Данные на {{ "now"|date("d.m.Y") }}
            {% endxlscell %}
        {% endxlsrow %}
        {% xlsrow %}
            {% xlscell 0 {merge: header_cols} %}
                Общее количество студентов (кроме 4го курса)
            {% endxlscell %}
            {% for i in 0..students|length - 1 %}
                {% xlscell header_cols + loop.index %}
                    {{ students[i] }}
                {% endxlscell %}
            {% endfor %}
            {% xlscell %}
                {{ averageValue['students'] }}
            {% endxlscell %}
        {% endxlsrow %}
        {% xlsrow %}
            {% xlscell 0 {merge: header_cols} %}
                Задолженности по 1-2 предметам
            {% endxlscell %}
            {% for i in 0..credits.small|length - 1 %}
                {% xlscell header_cols + loop.index %}
                    {#                    {% if i != credits.small|length - 1 %}#}
                    {{ credits.small[i].total }} ({{ credits.small[i].percent }}%)
                    {#                    {% endif %}#}
                {% endxlscell %}
            {% endfor %}
            {% xlscell %}
                {{ averageValue['small'] }}
            {% endxlscell %}
        {% endxlsrow %}
        {% xlsrow %}
            {% xlscell 0 {merge: header_cols} %}
                Задолженности по 3 и более предметов
            {% endxlscell %}
            {% for i in 0..credits.long|length - 1 %}
                {% xlscell header_cols + loop.index %}
                    {{ credits.long[i].total }} ({{ credits.long[i].percent }}%)
                {% endxlscell %}
            {% endfor %}
            {% xlscell %}
                {{ averageValue['long'] }}
            {% endxlscell %}
        {% endxlsrow %}
        {% xlsrow %}
            {% xlscell 0 {merge: header_cols} %}
                Пропущено занятий: 2-20 часов пропусков
            {% endxlscell %}
            {% for i in 0..credits.lessonShort|length - 1 %}
                {% xlscell header_cols + loop.index %}
                    {{ credits.lessonShort[i].total }} ({{ credits.lessonShort[i].percent }}%)
                {% endxlscell %}
            {% endfor %}
            {% xlscell %}
                {{ averageValue['lessonShort'] }}
            {% endxlscell %}
        {% endxlsrow %}
        {% xlsrow %}
            {% xlscell 0 {merge: header_cols} %}
                Более 20 часов пропусков
            {% endxlscell %}
            {% for i in 0..credits.lessonLong|length - 1 %}
                {% xlscell header_cols + loop.index %}
                        {{ credits.lessonLong[i].total }} ({{ credits.lessonLong[i].percent }}%)
                {% endxlscell %}
            {% endfor %}
            {% xlscell %}
                {{ averageValue['lessonLong'] }}
            {% endxlscell %}
        {% endxlsrow %}
    {% endxlssheet %}
{% endxlsdocument %}