{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <form class="form-inline" id="report-setting" method="post"
                      action="{{ path('app_admin_full_report', {'_format': 'xls'}) }}">
                    <div class="form-group">
                        {{ form_row(form.beginDate, {'attr':{'class':'form-control js-datepicker'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.endDate, {'attr':{'class':'form-control js-datepicker'}}) }}
                        {{ form_row(form._token, {'attr':{'type':'hidden'}}) }}
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input type="submit" form="report-setting"
                       class="btn btn-primary btn-lg btn-block report-setting-button"
                       value="{{ 'button.slice'|trans({}, 'admin') }}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a role="button" href="{{ path('app_admin_full_report', {'_format': 'xls'}) }}"
                   class="btn btn-warning btn-lg btn-block">
                    {{ 'button.absolute'|trans({}, 'admin') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}