{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>
                    {{ 'app.name'|trans({}, 'app') }} |
                    {{ 'admin_panel'|trans({}, 'admin') }}
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form class="form-inline search-form" action="{{ path('app_admin_homepage') }}">
                    <div class="input-group ">
                        <input type="search" class="form-control" name="search" value="{{ search }}">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-warning">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                {{ 'app.search'|trans({}, 'app') }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="row">
                <div class="col-sm-12">
                    <a role="button" href="{{ path('app_report_setting') }}"
                       class="btn btn-primary btn-lg btn-block ">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        {{ 'button.full_report'|trans({}, 'admin') }}
                    </a>
                </div>
            </div>
        {% endif %}
        {% for group in pagination %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-content">
                        <h3 class="text-center">
                            {{ group.getName() }}
                        </h3>
                    </div>
                    <div class="card-action">
                        <h4>{{ group.getSpecialty().getName() }}</h4>
                    </div>
                    <div class="card-button">
                        <a target="_blank"
                           href="{{ path('app_admin_report', {'id': group.getId(), '_format': 'xls'}) }}"
                           class="btn btn-primary">
                            {{ 'button.report'|trans({}, 'admin') }}
                        </a>
                        <a href="{{ path('app_admin_view', { 'id': group.getId() }) }}" class="btn btn-success">
                            {{ 'button.view'|trans({}, 'admin') }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-sm-12">
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
