{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <h3>
                    <a href="{{ path('app_admin_read_group_teacher_relation') }}">
                        {{ 'app.back'|trans({}, 'app') }}
                    </a>
                </h3>
            </div>
            <div class="col-sm-10">
                <h2>
                    {{ 'group.relation.create'|trans({}, 'admin') }}
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form method="post" action="{{ path('app_admin_create_group_teacher_relation') }}">
                    {{ form_row(form.teacher, {'attr':{'class':'form-control'}}) }}
                    {{ form_row(form.discipline, {'attr':{'class':'form-control'}}) }}
                    {{ form_row(form.studyGroup, {'attr':{'class':'form-control'}}) }}
                    {{ form_row(form.id) }}
                    {{ form_row(form._token) }}
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
{% endblock %}