{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <h3>
                    <a href="{{ path('app_homepage') }}">
                        {{ 'app.back'|trans({}, 'app') }}
                    </a>
                </h3>
            </div>
            <div class="col-sm-10">
                <h2>
                    {{ 'group.relation.read'|trans({}, 'admin') }}
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <form action="{{ path('app_admin_read_group_teacher_relation') }}">
                    <div class="col-sm-8">
                        <input type="search" name="search" class="form-control" value="{{ search }}">
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            {{ 'app.search'|trans({}, 'app') }}
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-sm-5">
                <a role="button" href="{{ path('app_admin_create_group_teacher_relation') }}"
                   class="btn btn-success btn-block">
                    {{ 'group.relation.create'|trans({}, 'admin') }}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover table-striped table-responsive">
                    <tr>
                        <th>Преподаватель</th>
                        <th>Дисциплина</th>
                        <th>Группа</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for item in pagination %}
                        <tr>
                            <td>{{ item.getTeacher().getFullname() }}</td>
                            <td>{{ item.getDiscipline().getName() }}</td>
                            <td>{{ item.getStudyGroup().getName() }}</td>
                            <td>
                                <a class="btn btn-danger btn-block"
                                   href="{{ path('app_admin_delete_group_teacher_relation', {'id':item.id}) }}">Delete</a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-block"
                                   href="{{ path('app_admin_create_group_teacher_relation', {'id': item.id}) }}">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}