<{{ tagName }}>
    <id>{{ item.id }}</id>
    <teacher>{{ item.getTeacher().getExternalId() }}</teacher>
    <discipline>{{ item.getDiscipline().getExternalId() }}</discipline>
    <group>{{ item.getStudyGroup().getExternalId() }}</group>
    {% if item.getActiveHistory[0]|default('') %}
        <active>{{ item.getActiveHistory()[0].getStatus() }}</active>
        <update>{{ item.getActiveHistory()[0].getCreatedAt()|date('d-m-Y H:i:s') }}</update>
    {% else %}
        <active>0</active>
    {% endif %}
</{{ tagName }}>
