<{{ tagName }}>
    <id>{{ item.id }}</id>
    <name>{{ item.getFullname() }}</name>
    <email>{{ item.getEmail() }}</email>
    <active>{{ item.isActive() }}</active>
    <externalId>{{ item.getExternalId() }}</externalId>
</{{ tagName }}>
