<{{ tagName }}>
    <id>{{ item.id }}</id>
    <name>{{ item.getName() }}</name>
    <specialty>{{ item.getSpecialty().getExternalId() }}</specialty>
    <externalId>{{ item.getExternalId() }}</externalId>
    <active>{{ item.isActive }}</active>
</{{ tagName }}>

