<{{ tagName }}>
    <id>{{ item.id }}</id>
    <name>{{ item.getName() }}</name>
    <group>{{ item.getStudyGroup().getExternalId() }}</group>
    <externalId>{{ item.getExternalId() }}</externalId>
</{{ tagName }}>
