@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import "check-list";

html, body {
  background: #F5F5F5;
  height: 100%;
}

.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

.page-footer {
  border: 1px solid #e7e7e7;
  background: #f8f8f8;
  padding: 10px 0;
  margin: 0
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 10px 0;

  .card-content {
    h3 {
      max-width: 100%;
      width: 100%;
    }

    display: flex;
    align-items: center;
    align-self: center;
    max-height: 155px;
    box-sizing: border-box;
    background-clip: padding-box;
    padding: 16px;
    border-radius: 0 0 2px 2px;
    white-space: pre-line;
    word-wrap: break-word;
    overflow: hidden;
  }

  .card-action {
    color: #0a0a0a;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px 16px 5px 16px;
    min-height: 120px;
  }

  .card-button {
    padding: 10px 16px 16px 16px;
    border-top: 1px solid #e3e3e3;
  }
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.pager.header-pager {
  .header-page {
    margin-top: 0;
  }
}

.search-form {
  margin: 20px 0;
}

.report-setting-button {
  margin: 15px 0;
}