.btn-container {
  margin-bottom: 20px;

  .btn {
    margin: 0 5px;
  }
}

.change-input {
  background: $alert-warning-bg;
}

.table-container {
  overflow-y: auto;
}

.student-row {
  position: relative;
}

.fluid-td {
  position: absolute;
  background: $gray-lighter;
  height: 51px;
  width: 270px;
  text-align: center;
}

table.check-list-table {
  max-width: 100%;

  tbody, thead {
    tr {
      td, th {
        min-width: 85px;
        vertical-align: middle;
      }
    }
  }
}

#group-note-submit {
  margin-bottom: 25px;
}

.study-note {
  margin-top: 10px;

  h3 {
    margin-top: 0;

    button {
      background: none;
      border: none;
      margin: 0 7px;
      font-size: 17px;
    }
  }
}

