{% extends 'base.html.twig' %}
{% trans_default_domain 'UserBundle' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <ul class="pager">
                    <li class="previous">
                        <a href="{{ path('app_homepage') }}">
                            <span aria-hidden="true">&larr;</span>
                            {{ 'app.back'|trans({}, 'app') }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9">
                <h2>{{ 'auth.change_password'|trans({}, 'nav')|capitalize }}</h2>
            </div>
        </div>
        {% if errors is not empty %}
            {% for error in errors %}
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="alert alert-danger" role="alert">
                            {{ error.message }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="row">
                    <div class="col-xs-12">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}