{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <p>
                    <a href="{{ path('user_registration') }}">
                        {{ 'registration.back_to_registration'|trans({},'UserBundle') }}
                    </a>
                </p>
                <p>
                    {{ 'registration.mail_send'|trans({},'UserBundle') }}
                </p>
                <p>
                    {{ 'registration.follow'|trans({
                        '%link_homepage%': path('app_homepage'),
                        '%user_login%': path('user_login')
                    }, 'UserBundle')|raw() }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}