{% extends 'base.html.twig' %}

{% block body %}
    {% include "components/modal.html.twig" %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert-container"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="btn-container">
                    <a href="{{ path('app_homepage') }}" role="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        {{ 'app.back'|trans({}, 'app') }}
                    </a>
                    {% if(csrf is not empty and is_granted('ROLE_TEACHER')) %}
                        <button disabled="disabled" id="save-table-button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                            {{ 'save'|trans({}, 'checkList') }}
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 table-container">
                <table class="table table-striped table-bordered table-hover check-list-table">
                    <thead>
                    <tr>
                        <th class="text-center">
                            <h4>{{ data.group.getSpecialty().getName() }}</h4>
                        </th>
                        {% for discipline in data.disciplines %}
                            <th class="text-center" colspan="{{ discipline.count }}">
                                {{ discipline.discipline }}
                            </th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>
                            <h4 class="text-center">{{ data.group.getName() }}</h4>
                        </th>
                        {% for type in data.noteType %}
                            <td class="text-center">
                                <div>
                                    {{ type.name }}
                                </div>
                                {% if type.teacher is defined %}
                                    <div>
                                        {{ type.teacher }}
                                    </div>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in data.students %}
                        <tr class="student-row">
                            <td class="student-name-td">{{ student.name }}</td>
                            {% for note in data.notes[student.id] %}
                                <td class="text-center">
                                    {% if(is_granted('ROLE_TEACHER')) %}
                                        {% include 'components/input-note.html.twig' with
                                            {
                                                'note':note,
                                                'group':data.group.getId(),
                                            } %}
                                    {% else %}
                                        {{ note.note_value }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Комментарии</h3>
            </div>
        </div>
        <div id="group-note-container">
            {% for note in pagination %}
                <div class="row study-note">
                    <div class="col-sm-12">
                        <div class="panel panel-default" data-id="{{ note.getId() }}">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    {{ note.getTeacher().getFullname() }}
                                    {% if is_granted('ROLE_MODER') or (note.getTeacher().getId() == app.user.getId() ) %}
                                        <button type="button" class="delete-button close"><span
                                                    aria-hidden="true" class="glyphicon glyphicon-remove"></span>
                                        </button>
                                        <button type="button" class="edit-button close"><span
                                                    aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    {% endif %}
                                </h3>
                            </div>
                            <div class="panel-body">{{ note.getText() }}</div>
                            <div class="panel-footer">
                                {{ note.getCreatedAt()|date("H:i d.m.Y") }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="group-note-alert-container">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4>Введите Ваш комментарий</h4>
                <p class="text-info">Данные комментарии видят модераторы, а так же преподаватели, которые ведут
                    дисциплины в
                    данной группе</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 operation-panel">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <textarea name="note" id="group-note-text" class="form-control" cols="30" rows="5"></textarea>
                <button data-csrf="{{ note_csrf }}" id="group-note-submit" class="btn btn-primary btn-block">Отправить
                </button>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{{ parent() }}
{% if(csrf is not empty) %}
    {% include "components/note-group-templates.html.twig" with {'username':app.user.getFullname()} %}

    <script>
        (function () {
            var config = {
                "classChangeInput": "change-input",
                "saveButton": "#save-table-button",
                "inputNote": ".input-note",
                "checkList": ".check-list-table",
                "alertContainer": '.alert-container',
                'csrf': "{{ csrf }}",
                "prevLocation": "{{ path('app_homepage') }}",
                'savePath': "{{ path('app_save_check_list') }}"
            };

            var noteConfig = {
                "userName": "{{ app.user.getFullname() }}",
                "submitButton": $('#group-note-submit'),
                "noteTextArea": $('#group-note-text'),
                "pageSize": "{{ elements_count }}",
                "data": {
                    "text": '',
                    "group": parseInt('{{ data.group.getId() }}')
                },
                "alertCount": 0,
                "savePath": "{{ path('app_save_group_note') }}",
                "deletePath": "/teacher/group/note/delete/",
                "editButtonClass": "edit-button",
                "labelContainer": $(".operation-panel"),
                "cancelButtonOperation": "cancel-operation",
                "editLabel": $("#group-note-edit-label"),
                "editLabelAlert": "editing-label-operation",
                "deleteButtonClass": "delete-button",
                "notePanelTpl": $('#group-note-tpl'),
                "groupNoteContainer": $('#group-note-container')
            };

            var groupNote = new GroupNote(noteConfig);
            var checkList = new CheckList(config);

            $('a').click(function (e) {
                if ($('.list-change').length) {
                    $('#modal-exit').modal();

                    return false;
                }
            });

            $('#modal-save-button').click(function () {
                console.log('.modal-save-button');
                checkList.saveList();
                $('#modal-exit').modal('hide');
            });

            $('#modal-save-exit-button').click(function () {
                console.log('.modal-save-exit-button');
                checkList.saveList(function () {
                    window.location = config.prevLocation;
                });
            });

            $('#modal-exit-button').click(function () {
                window.location = config.prevLocation;
            });

            var studentNameTd = $('.student-name-td');
            var tdWidth = studentNameTd.width();
            $('.table-container').scroll(function(e) {
                var scrollData = $(this).scrollLeft();
                if(scrollData >= (tdWidth / 2)){
                    studentNameTd.each(function(indx) {
                        let elem = $(this);
                        elem.css({
                            'left': scrollData
                        }).addClass('fluid-td');
                    })
                } else {
                    studentNameTd.each(function(indx) {
                        let elem = $(this);
                        elem.removeClass('fluid-td').removeAttr('style');
                    });
                }
            })
        })();
    </script>
{% endif %}
{% endblock %}