<errors>
    {% for error in errors %}
        {% if error is iterable %}
            {% for key, value in error %}
                <{{ key }}>
                        {{ value }}
                </{{ key }}>
            {% endfor %}
        {% else %}
            <error>{{ error }}</error>
        {% endif %}
    {% endfor %}
</errors>