{% extends "@Api/base.xml.twig" %}

{% block body %}
<user>
    {% if user.errors|default({}) %}
        {% include '@Api/template/error.xml.twig' with {'errors': user.errors} %}
    {% endif %}
</user>
{% endblock %}