{% extends "@Api/base.xml.twig" %}

{% block body %}
    {% for user in users|default({}) %}
        <user>
            <id>{{ user.getId() }}</id>
            <login>{{ user.getLogin() }}</login>
            <fullname>{{ user.getFullname() }}</fullname>
            <externalId>{{ user.getExternalId() }}</externalId>
        </user>
    {% endfor %}
{% endblock %}

